<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma encomenda/entrega cancelada. Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br>
  <strong>Destinatário: </strong> {{ recipient }}
  <br>
</p>
<br>