<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem um novo produto para entrega e o mesmo já se encontra disponível para retirada. Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }}
  <br>
</p>
<small>
  O horário para retirada é de 8 às 18 horas.
</small> <br>